.cruise {
  padding-bottom: 60px;

  @media (max-width: $screen-sm) {
    padding-bottom: 30px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }
  }

  &__inner {
    width: 60%;

    @media (max-width: $screen-md) {
      width: 100%;
    }
  }

  &__text {
    margin: 0 0 45px;
    font-family: $font-family-second;
    font-style: normal;
    font-weight: 300;
    font-size: $font-size;
    line-height: 140.4%;

    @media (max-width: $screen-sm) {
      margin: 0 0 20px;
    }

    @media screen and (max-width: $screen-xs) {
      margin: 0 0 15px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-xs) {
      margin-top: 15px;
    }
  }

  &__item {
    display: flex;
    margin-right: 54px;

    @media (max-width: $screen-lg) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__icon {
    margin-top: 15px;
    margin-left: 16px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -15px;
      top: -15px;
      width: 60px;
      height: 60px;
      border: 1px solid $third-color;
      border-radius: 50%;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      left: -10px;
      top: -15px;
      width: 60px;
      height: 60px;
      background: $second-color;
      opacity: 0.3;
      border-radius: 50%;
    }
  }

  &__desc {
    max-width: 220px;
    margin-left: 55px;

    @media (max-width: $screen-lg) {
      margin-left: 27px;
    }

    @media screen and (max-width: $screen-md) {
      max-width: 100%;
    }

    @media screen and (max-width: $screen-xs) {
      margin-left: 35px;
    }
  }

  &__name {
    margin: 0 0 10px;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size;
    line-height: 140.88%;

    @media (max-width: $screen-xs) {
      margin: 0 0 5px;
    }
  }

  &__photo {
    position: relative;
    height: 100%;

    @media screen and (max-width: $screen-md) {
      margin: 0 auto;
    }

    @media screen and (max-width: $screen-xs) {
      display: none;
    }

    img {
      width: 100%;

      @media (max-width: $screen-md) {
        width: auto;
      }
    }

    p {
      padding-left: 33px;
      margin-top: 22px;
      width: 50%;
      position: absolute;
      top: 0;
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: $font-size;
      line-height: 140.4%;
      color: #fff;

      @media screen and (max-width: $screen-xs) {
        width: 55%;
        top: 66%;
        left: 93px;
        text-align: right;
      }


      &:after {
        content: '';
        position: absolute;
        left: 20px;
        top: 3px;
        width: 2px;
        height: 20px;
        background: #fff;

        @media (max-width: $screen-xs) {
          bottom: 12px;
          left: 165px;
          top: 6px;
          width: 1px;
          height: 23px;
        }
      }

      @media (max-width: $screen-xs) {
        width: 180px;
        margin-bottom: 11px;
        font-size: $font-size--xs;
      }
    }

    &--mob {
      display: none;

      @media screen and (max-width: $screen-xs) {
        display: inline-block;
      }
    }
  }
}
