mixin about()
  .container
    h2.title.about__title О поездке в Карибский регион
    .about__wtap
      .about__photo
        img(alt="Побережье острова Санта-Люсия" src="/img/about.jpg")
        p Побережье острова Санта-Люсия
      .about__desc
        .about__text
          p Наиболее благоприятное время для посещения островов с ноября по май, поскольку с мая по октябрь существует наибольшая вероятность выпадения осадков, хотя ярко выраженного сезона дождей нет.
          p Круизы по Карибским островам привлекательны для туристов тем, что за одно путешествие можно посетить от 3-х до десятка островов Карибского бассейна.
          p На выбор туристов круизы по Карибам и  Багамам на 3 и 4 ночи, недельные, 2-х и даже 3-хнедельные круизы. Мы поможем подобрать подходящий вам круиз.

        .about__text
          svg.about__icon(width="30", height="30")
            use(xlink:href="img/sprite-svg.svg#visa")
          h3.about__text_title Виза
          p Для поездки на Карибские и Багамские острова понадобится виза  Генерального консульства Великобритании. Срок получения визы - 4-5 недель.
          svg.about__icon(width="30", height="30")
            use(xlink:href="img/sprite-svg.svg#location")
          h3.about__text_title Локации
          p Карибские круизы чаще всего начинаются на материковых городах как Майами или Форт-Лодердейл (Флорида), Нью-Йорк, Новый Орлеан, Порт Канаверал, и Тампа. Круизные компании предлагают посадку/высадку по карибским маршрутам на островах Сан-Хуан (Пуэрто-Рико), Барбадос, Синт-Мартен, Доминикана и других.
