mixin buy()
  .buy__wrapper
    .buy__photo
      img(src='/img/buy.jpg')
      span.buy__photo_desc Дети в акварпарке лайнера Voyager of the Seas
      small Оставьте заявку

    .buy__wrap
      h2.title.buy__title Подберите мне круиз
      p.buy__text Если у вас возникли трудности с подбором круиза, оставьте заявку. Консультант подберёт круиз и ответит на ваши вопросы.
      +form()
