.english {
  padding-bottom: 60px;

  @media (max-width: $screen-sm) {
    padding-bottom: 20px;
  }

  .container {
    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  &__wrap {
    background: url(/img/bg-english.jpg);
    background-size: cover;

    @media (max-width: $screen-xs) {
      background: url(/img/bg-english-mob.jpg);
      background-size: cover;
    }
  }

  &__background {
    background-color: rgba(5, 24, 84, 0.4);
  }

  &__inner {
    padding: 29px 40px 36px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: $screen-sm) {
      padding: 20px;
      flex-direction: column;
    }
  }

  &__desc {
    width: 50%;
    padding-top: 66px;

    @media (max-width: $screen-md) {
      width: 100%;
      padding-top: 0;
    }
  }

  &__text {
    margin: 0 0 20px;
    font-family: $font-family-second;
    font-style: normal;
    font-weight: 300;
    font-size: $font-size--m;
    line-height: 140.4%;
    color: #FFFFFF;

    @media (max-width: $screen-sm) {
      margin: 0 0 10px;
      font-size: $font-size;
    }

    &_link {
      font-family: $font-family;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size--m;
      line-height: 140.4%;
      color: #FFFFFF;
      margin-left: 5px;
      border-bottom: 1px solid #fff;

      @media (max-width: $screen-sm) {
        font-size: $font-size;
      }
    }
  }

  &__btn {
    .btn {
      color: #fff;
      min-width: 180px;

      @media (max-width: $screen-sm) {
        margin-left: 25px;
      }
    }
  }

  &__tel {

    @media (max-width: $screen-sm) {
      order: -1;
    }

    &_title {
      display: none;

      @media (max-width: $screen-sm) {
        margin: 0 0 10px;
        display: block;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: $font-size--l;
        line-height: 23px;
        color: #FFFFFF;
      }
    }

    &_wrap {
      display: flex;
      align-items: center;
      position: relative;
      border: 2px solid #fff;

      @media (max-width: $screen-sm) {
        margin-bottom: 10px;
        border: 1px solid #fff;
      }
    }

    &_link {
      padding: 119px 30px;
      font-family: $font-family;
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: $font-size--h2;
      color: #FFFFFF;

      @media (max-width: $screen-sm) {
        padding: 39px 36px 38px 21px;
      }
    }

    span {
      position: absolute;
      top: 42px;
      right: -85px;
      font-family: $font-family-second;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size--l;
      line-height: 140.4%;
      color: #FFFFFF;
      transform: rotate(90deg);

      @media (max-width: $screen-sm) {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        left: 133px;
        top: 15px;
        width: 120%;
        height: 1px;
        background: #fff;

        @media (max-width: $screen-sm) {
          display: none;
        }
      }
    }
  }
}
